body{
    padding: 0px;
    margin: 0px;
}

#start-pane{
    height: 520px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/Connect-backgroud.jpg');
}

#start-pane-content{
  animation-name: page-transition;
  animation-direction: normal;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-play-state: running;
}

h1{
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
}

h2{
  font-family: 'Segoe UI', sans-serif;
}

h3{
  font-family: 'Segoe UI', sans-serif;
}

a{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

p{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

b{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

#feedback-path{
  margin-left: 45px;
  margin-right: 42px;
}

#feedback-form{
  width: 100%;
  position: relative;
  top: -6px;
}

#description-box{
  display: flex;
  vertical-align: center;
  align-content: stretch;
}

@keyframes page-transition{
  0%{
    opacity: 0;
    top: -75px;
  }

  100%{
    opacity: 1;
    top: 0px;
  }
}
