body{
    padding: 0px;
    margin: 0px;
}

#start-pane{
    height: 520px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/Connect-backgroud.jpg');
}

h1{
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
}

h2{
  font-family: 'Segoe UI', sans-serif;
}

h3{
  font-family: 'Segoe UI', sans-serif;
}

a{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

p{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

b{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}