body{
  padding: 0px;
  margin: 0px;
}

h1{
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
}

h2{
  font-family: 'Segoe UI', sans-serif;
}

h3{
  font-family: 'Segoe UI', sans-serif;
}

a{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

p{
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}

.document-section{
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
}

.document-content{
  width: 100%;
}
